.wrap-pass{
	background-color:#f6f6f6;
	height: 900px;

}

.header{
height: 100px;
background-color: #17a2d4;
color:white;

}
.sportsexchange{
	float: left;
	color: #f4f4f4;
	font-size: 20px;/* Approximation due to font substitution */
	font-weight: 800;
	
}

.signUp{
	border-radius: 3px;
	background-color: #ffffff;
	box-shadow: 0px 0px 5.76px 0.24px rgba(0, 0, 0, 0.24);
	width: 140px;
	height: 50px;
	float:left;
	margin-top: 20px;
	margin-right: 16px;
}

.login{
	border-radius: 3px;
	background-color: #ffffff;
	box-shadow: 0px 0px 5.76px 0.24px rgba(0, 0, 0, 0.24);
	width: 140px;
	height: 50px;
	float:left;
	margin-top: 20px;
	
	
}
.accountbuttons{
	float:right;

}
.clear{
	clear:both;
}

.centerblock{
	border-radius: 3px;
	background-color: #ffffff;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
	width: 500px;
	height: 260px;
	display: block;
	margin:80px auto;
	padding: 10px;
}

.headline{
	font-family: Lato;
color: #000000;
font-size: 13px;/* Approximation due to font substitution */
font-weight: 400;

}

.accept input{

border-radius: 3px;
border-width: 1px;
border-color: #e8e8e8;
border-style: solid;
background-color: #f6f6f6;
width: 448px;
height: 58px;
padding-left:10px;
}

.note{
font-family: Lato;
color: #969696;
font-size: 13px;/* Approximation due to font substitution */
font-weight: 400;
}
.button button{ 
border-radius: 3px;
background-color: #17a2d4;
width: 150px;
height: 50px;
margin:auto;
display: block;
}